.Experience {
  display: inline-block;
  padding-left: 400px;
  padding-right: 400px;
  /* padding-bottom: 20px; */
  position: relative;
  height: 400px;
  font-size: large;
}

img.exp {
  height: 120px;
  width: 120px;
  margin: 20px;
}



@media only screen and (max-width: 600px){
  .Experience {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 5vw;
  }
  img.exp {
    margin: 15px;
    height: auto;
    width: 24%;
  }
}