.contact {
    margin-top: 5%;
    padding-top: 40%;
    padding-bottom: 4%;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    margin-bottom: -50px;
}

.animated {
    margin-top: -20%;
    margin-bottom: 10%;
}

a.contact-link {
    color: #FFFFFF;
    font-size: 1.5vw;
}

a.contact-link:hover {
    text-decoration: none;
}

.back-home {
    text-decoration: underline;
}

.back-home:hover{
    text-decoration: none;
}
 
p.footer {
    font-size: 12px;
}
    
@media only screen and (max-width: 600px){

    .contact {
        padding-top: 80%;
        font-size: 4.5vw;
        padding-bottom: 20%;
    }

    .animated {
        font-size: 6vw;
      }

      a.contact-link {
        font-size: 4.5vw;
    }  
  
  }
