.Contact {
    padding-top: 250px;
    padding-bottom: 50px;
    text-align: center;
    color: #323231;
    margin-bottom: -50px;
    background-image: linear-gradient(#CCBEB8 60%, #F7F4F2 );
    clip-path: polygon(0 20%, 100% 36%, 100% 100%, 0% 100%); 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Trirong', serif;

}

.animated {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
p.footer {
    font-size: 12px;
}
    
@media only screen and (max-width: 600px){

    .Contact {
        padding-top: 250px;
        font-size: 4.5vw;
    }

    .animated {
        font-size: 6vw;
      }
  
  }
