.Contact {
    padding-top: 300px;
    padding-bottom: 100px;
    text-align: center;
    color: #323231;
    margin-bottom: -50px;
    background-image: linear-gradient(#97bda3 60%, #dcecda);
    clip-path: polygon(0 6%, 100% 36%, 100% 100%, 0% 100%); 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Trirong', serif;

}

.animated {
    font-family: 'Cinzel', serif;

}
 
p.footer {
    font-size: 12px;
}
    
@media only screen and (max-width: 600px){

    .Contact {
        padding-top: 250px;
        font-size: 5vw;
    }

    .animated {
        font-size: 6vw;
      }
  
  }
