.About {
    padding-top: 60px;
    margin-top: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Trirong', serif;
}

img.About-img {
  float: left;
  width: 20%;
  height: auto;
  padding-right: 10px;
  padding-left: 70px;
  padding-top: 10px;
}

.About-text {
  text-align: center;
  float: right;
}

.About-title {
   background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  padding-bottom: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.funfact {
  font-style: italic;
  padding-bottom: 30px;
}


.tech-stack {
  width: 4%;
  padding: 5px;
}

.tech-stack1 {
  width: 6%;
  padding: 5px;
}

.tech-stack2 {
  width: 10%;
  padding: 5px;
}

.tech-stack3 {
  width: 3%;
  padding: 5px;
}

.tech-stack:hover, .tech-stack1:hover, .tech-stack2:hover, .tech-stack3:hover {
  transition: 500ms;
  opacity: 0.3;
}

@media only screen and (max-width: 600px){

    .About-text {
      margin-left: 10px;
      font-size: 4vw;
      padding-right: 10px;
    }

    .About-title {
      color: #323231;
      font-size: 7vw;
    }

    img.About-img {
      width: 60%;
      padding-bottom: 20px;
    }
    .tech-stack {
      width: 10%;
      height: auto;
      padding: 5px;
    }

    .tech-stack1 {
      width: 15%;
      height: auto;
      padding: 5px;
    }

    .tech-stack2 {
      width: 30%;
      height: auto;
      padding: 5px;
    }

    .tech-stack3 {
      width: 10%;
      height: auto;
      padding: 5px;
    }

   
  }
