.About {
    /* margin: 26px auto; */
    padding-top: 60px;
    margin-top: auto;
    font-family: 'Playfair Display', serif;   
}

img.About-img {
  float: left;
  width: 20%;
  height: auto;
  padding-right: 60px;
  
}

.About-text {
  font-size: large;
  text-align: center;
  float: right;
  padding-right: 10px;
}

p.fun-fact {
  border: 1px solid #C0C9CB;
  box-shadow: 0 2px 3px #C0C9CB;
  background-color: #f7f6f1;
}

@media only screen and (max-width: 600px){
    .About-text {
      margin-left: 10px;
      font-size: 5vw;
    }
    img.About-img {
      width: 100%;
    }
    .animated {
      font-size: 97%;
    }
  }
