.App {
  width: fixed;
  height: fixed;
  text-align: center;
  background-color: #F7F4F2;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;  color: #323231;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  color: #323231;
}

a:active {
  color: #323231;
}

a:visited {
  color: #323231;
}

.projectheader {
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 20px;
}

@media only screen and (max-width: 600px){

    .animated-text {
      font-size: 100%;
    }
    
    .experience {
      font-size: 100%;
    }

    h1.projectheader {
      color: #323231;
    }
  }
