.App {
  width: fixed;
  height: fixed;
  text-align: center;
  background-color: #f3f1e9;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  color: #323231;
}

a:link {
  color: #323231;
}

a:active {
  color: #323231;
}

a:visited {
  color: #323231;
}

@media only screen and (max-width: 600px){
  .animated-text {
      font-size: 100%;
     
    }
  
    .experience {
      font-size: 100%;
    }
  }
