.App {
  width: fixed;
  height: fixed;
  text-align: center;
  background-color: #FFFFFF;
  overflow: hidden;
  font-family: 'Playfair Display';
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}

a:link {
  color: #000000;
}

a:active {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  text-decoration: none;
}

.project-container {
  padding-top: 7%;
  margin-top: 5%;
  margin-bottom: 10%;
}

@media only screen and (max-width: 600px){

    .animated-text {
      font-size: 100%;
    }

  }
