.nav {
    text-align: center;
    color: #000000;
    position: relative;
    font-weight: bold;
    /* clip-path: polygon(
      0 0,
      200% 0,
      200% 110%,
      0 calc(100% - 130px)
    ); */
}



.nav-bar-left {
  font-size: 1.2em;
  font-family: 'Playfair Display';
  text-decoration: underline;
  float: left;
  margin-right: 4%;
  margin-left: 6%;
  margin-top: 5%;
}

.nav-bar-right {
  font-size: 1.2em;
  font-family: 'Playfair Display';
  text-decoration: underline;
  float: right;
  margin-left: 4%;
  margin-right: 6%;
  margin-top: 5%;
}

.nav-bar-left:hover, .nav-bar-right:hover {
  text-decoration: none;
}

.nav-logo {
  width: 40%;
  margin-top: -3%;
}

@media only screen and (max-width: 600px){
    .nav-bar-left, .nav-bar-right {
      display: none;
    }

    .nav-logo {
      width: 100%;
      margin-top: 15%;
      margin-bottom: 10%;
    }
  }