.Nav {
    padding-bottom: 230px;
    text-align: center;
    color: #ffffff;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Playfair Display', serif;
    font-size: small;
    background-image: linear-gradient(#ffffff, #2c2b30 80%);
    position: relative;
    height: 400px;
    clip-path: polygon(
      0 0,
      200% 0,
      200% 110%,
      0 calc(100% - 190px)
    );
}

.Nav-bar {
  font-family: 'Playfair Display', serif;
  font-size: large;
}



@media only screen and (max-width: 600px){
    .Nav-bar {
      font-size: 97%;
    }

    .Nav {
      padding-bottom: 80%;
    }

  }