
.Project-card {
    background-color: #D5D5D5;
    width: 400px;
    display: inline-block;
    padding: 10px;
    font-family: 'Philosopher', sans-serif;
    color: #323231;
    height: 600px;
}

.Project {
    height: 200px;
    margin: 26px auto;
    box-shadow: 0 2px 9px #9099A2;
    padding: 100px;
    text-align: center;
    /* background-color: #9099A2; */
    background-image: linear-gradient(#D5D5D5, #9099A2, #D5D5D5);
    border-radius: 4px;
} 

.Project:hover {
    transform: scale(1.1);
    transition: 700ms;
    }

.Project-img {
    border: 1px solid #9099A2;
    box-shadow: 0 2px 3px #9099A2;
    border-radius: 4px;
    height: 350px;
    width: 350px;
    position: relative;
    display: block;
    left: -80px;
    bottom: 80px;
}
