
.Project-card {
    background-color: #f3f1e9; 
    width: 30%;
    height: auto;
    display: inline-block;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    color: #323231;
    padding-bottom: 90px;
}

.Project-img {
    border: 1px solid #f3f1e9;
    box-shadow: 0 2px 3px #111111;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: auto;
    /* opacity: 0.7; */
}

/* .Project-img:hover {
    opacity: 1;
}  */

@media only screen and (max-width: 600px){

    .Project {
      width: 100%;
      height: auto;
    }

    .Project-card {
       width: 90%;
       height: auto;
       padding-bottom: 90px;
       font-size: 5vw;
    }

    .Project:hover {
        transform: scale(1);
        transition: 900ms;
        }
  
  }